services:
  - type: web
    name: goaltracker-api
    env: node
    buildCommand: npm install
    startCommand: node app.js
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: NODE_ENV
        value: production